main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.question-box {
    border: 2px solid grey;
    border-radius: 20px;
    
    margin-top: 10px;
    margin-bottom: 20px;

    padding: 10px 20px 1px;

    max-height: 200px;
}

.question-img {
    max-width: 75px;
    max-height: 75px;
    align-content: center;
}

.answer-img {
    max-width: 100px;
    align-content: center;
}

.username h5 {
    color: white;
}

.question-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    overflow: hidden;
    max-height: 38px;
    padding-left: 5px;
}

.question-footer {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: left;
}

.answer-footer {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: left;
}

.user-col {
    padding-left: 5px;
}

.image-box {
    justify-content: center;
}

.tag {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: underline;
}

.avatar-col {
    justify-content: center;
    align-items: center;
    display: flex;
}

.user-avatar {
    max-width: 50px;
    margin: 5px;
}

.answers-ref {
    text-decoration: underline;
    padding-left: 0;
}

.search-bar {
    margin-right: 50px;
}

.username {
    margin: 5px;
}

.question-text {
    padding-top: 5px;
    min-height: 100px;
    max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.answer-text {
    min-height: 100px;
}

.like-button {
    max-width: 40px;
    
    border: 1px solid grey;
    border-radius: 10px;

}

.rating-box {
    /*margin-top: 20px;*/
    /*margin-bottom: 50px;*/
    /*padding-top: 10px;*/
    margin: 0;
    align-content: center;
    justify-content: center;
}

.like-form {
    padding-left: 2px;
    padding-right: 2px;
    
    max-width: 48px;
    
    justify-content: center;
    align-items: center;
    display: flex;
}

.like-counter {
    text-decoration: underline;
    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.link_questions {
    text-decoration: underline;
    font-size: 20px;
    margin-left: 20px;
}

.top-row {
    align-items: baseline;
    padding-top: 30px;
}


.main_row {
  flex-wrap: nowrap;
  padding-top: 10px;
}

.side_col {
    margin-left: 200px;
}

.tags_list {
    padding-left: 2px;
}

ul.tags_list li {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 18px;
    list-style-type: none;
}

.members_list {
    text-decoration: underline;
    padding-left: 2px;
}

ul.members_list li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    list-style-type: none;
}

.settings div.col-7 {
    max-width: 300px;
}

.settings div.row {
    margin-bottom: 10px;
}

.settings input {
    padding: 0;
    border: 2px solid black;
}

.settings label {
    min-width: 150px;
    font-weight: bold;
}

.settings img {
    max-width: 80px;
}

.upload-button {
    border-radius: 10px;
    margin-left: 10px;
}

.image-col {
    padding-left: 30px;
}

.submission {
    margin-top: 10px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.submission input {
    min-width: 80px;
    min-height: 40px;
    border-radius: 10px;
}

.avatar-upload button {
    border-radius: 10px;
    margin-left: 60px;
}

.register div.col-7 {
    max-width: 300px;
}

.register div.row {
    margin-bottom: 10px;
}

.register input {
    padding: 0;
    border: 2px solid black;
}

.register label {
    min-width: 150px;
    font-weight: bold;
}

.register img {
    max-width: 80px;
}

.question {
    margin-top: 10px;

}

.main-question-box {    
    margin-top: 10px;
    margin-bottom: 20px;

    padding: 15px 20px 1px;

    max-height: 200px;
}

.main-answer-box {
    border: 2px solid grey;
    border-radius: 20px;

    margin-top: 10px;
    margin-bottom: 20px;

    padding: 15px 20px 1px;

    max-height: 200px;
}

div.answer_field textarea {
    min-width: 850px;
    min-height: 150px;
}

.answer_form {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.register {
    margin-top: 30px;
}

.page_selector {
    margin: 20px;
    max-width: fit-content;
    border: 1px #117a8b dashed;
    padding: 5px;
}

.credits {
    text-align: right;
    font-size: smaller;
    padding-right: 0;
    padding-left: 0;
    max-width: 170px;
    max-height: 38px;
    overflow: hidden;
    white-space: nowrap;
}

.correct {
    text-align-last: end;
}

.nickname {
    justify-content: center;
    margin-top: 5px;
    font-weight: bold;
}

.answer-lc {
    height: 20px;
    margin-top: 10px;
    /*margin-top: 0; !important*/
}


.answered-time {
    font-size: smaller;
    text-align: end;
    padding-top: 20px;
}

.answer_rb {
    margin-bottom: 5px;
}

input[type=checkbox][disabled]{
    outline:1px solid red;
}
