{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block top_row %}
    <h2>New Question</h2>
{% endblock top_row %}

{% block content %}
    <form method="POST" accept-charset="utf-8">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ask!</button>
        {% endbuttons %}
    </form>
{% endblock content %}

{% block right_side %}
    {% include 'inc/popular_tags.html' %}
    {% include 'inc/best_members.html' %}
{% endblock right_side %}
