{% extends 'inc/base.html' %}
{% load static %}

{% block top_row %}
    <h2>New questions</h2>
    <a href="{% url 'hot' %}" title="Hot questions" class="link_questions">Hot questions</a>
{% endblock top_row %}

{% block content %}
    {% for question in questions %}
        {% include 'inc/one_question.html' %}
    {% endfor %}
{% endblock content %}

{% block right_side %}
    {% include 'inc/popular_tags.html' %}
    {% include 'inc/best_members.html' %}
{% endblock right_side %}


{% block paginator %}
    <div class="row page_selector">
        <span class="step-links">
            {% if questions.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ questions.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
            </span>

            {% if questions.has_next %}
                <a href="?page={{ questions.next_page_number }}">next</a>
                <a href="?page={{ questions.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock paginator %}


{% block jscode %}
    <script src="{% static "js/vote.js" %}"></script>
{% endblock jscode %}
