{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block top_row %}
    <h2>Log in</h2>
{% endblock top_row %}



{% block content %}
    <form class="form-signin" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in!</button>
        {% endbuttons %}
        <a href="{% url 'register' %}" title="create" class="creation-ref" style="text-decoration: underline">create new account</a>
    </form>
        <script>
            {% if messages %}
                function f() {
                    alert('FUCK U JS');
                }
                {% for message in messages %}
                    alert({{ message }});
                {% endfor %}
            {% endif %}
        </script>
{% endblock content %}


{% block right_side %}
    {% include 'inc/popular_tags.html' %}
    {% include 'inc/best_members.html' %}
{% endblock right_side %}
