{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
    {% include 'inc/main_question.html' %}
    <div class="row line">
    *******************************************************************************************************************************************
    </div>
        {% for answer in answers %}
            {% include 'inc/one_answer.html' %}
        {% endfor %}
    <div class="row line">
    *******************************************************************************************************************************************
    </div>
    {% if request.user.is_authenticated %}
        <div class="row answer_form">
            <form method="POST" style="width: 800px;">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Post answer</button>
                {% endbuttons %}
            </form>
        </div>
    {% else %}
        <div class="row">
            <a href="{% url 'register' %}">Register</a>
            <span>&nbspor&nbsp</span>
            <a href="{% url 'login' %}">login</a>
            <span>&nbspto answer the question</span>
        </div>
    {% endif %}


{% endblock content %}

{% block right_side %}
    {% include 'inc/popular_tags.html' %}
    {% include 'inc/best_members.html' %}
{% endblock right_side %}

{% block paginator %}
        <div class="row page_selector">
        <span class="step-links">
            {% if answers.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ answers.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ answers.number }} of {{ answers.paginator.num_pages }}.
            </span>

            {% if answers.has_next %}
                <a href="?page={{ answers.next_page_number }}">next</a>
                <a href="?page={{ answers.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock paginator %}

{% block jscode %}
    <script src="{% static "js/vote.js" %}"></script>
{% endblock jscode %}
