{% extends 'inc/base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block top_row %}
    <h2>Registration</h2>
{% endblock top_row %}

{% block content %}
    <form  сlass="register" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        {% endbuttons %}
{#        <div class="row login">#}
{#            <div class="col-7">#}
{#                <label for="login">Login</label>#}
{#            </div>#}
{#            <div class="col-5">#}
{#                <input type="login" name="login" id="login" pattern="^[a-z0-9_-]{3,16}$" placeholder="Dr.Pepper">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row email">#}
{#            <div class="col-7">#}
{#                <label for="email">Email</label>#}
{#            </div>#}
{#            <div class="col-5">#}
{#                <input type="email" name="email" id="email"#}
{#                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="dr.pepper@gmail.com">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row nick_name_reg">#}
{#            <div class="col-7">#}
{#                <label for="nickname">NickName</label>#}
{#            </div>#}
{#            <div class="col-5">#}
{#                <input type="nickname" name="nickname" id="nickname" pattern="^[a-z0-9_-]{3,16}$" placeholder="DrPepper">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row password">#}
{#            <div class="col-7">#}
{#                <label for="password">Password</label>#}
{#            </div>#}
{#            <div class="col-5">#}
{#                <input type="password" name="password" id="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,16}$" placeholder="********">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row password-confirm">#}
{#            <div class="col-7">#}
{#                <label for="password-confirm">Confirm your password</label>#}
{#            </div>#}
{#            <div class="col-5">#}
{#                <input type="password" name="password-confirm" id="password-confirm" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,16}$"#}
{#                placeholder="********">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row avatar-upload">#}
{#            <div class="col-7">#}
{#                <label for="avatar-upload">Upload avatar</label>#}
{#            </div>#}
{#            <div class="col-3">#}
{#                <input type="path" name="avatar-upload" id="avatar-upload">#}
{#            </div>#}
{#            <div class="col-2">#}
{#                <button type="button" >choose</button>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row submission">#}
{#            <input type="submit" value="Register">#}
{#        </div>#}
    </form>
{% endblock content %}
