{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block top_row %}
    <h2>Settings: {{ user.profile.nickname }}</h2>
{% endblock top_row %}

{% block content %}
    <form  сlass="settings" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
        {% endbuttons %}
    </form>
{% endblock content %}

{#    <form action="settings_submit" method="POST" accept-charset="utf-8" class="settings">#}
{#        <div class="row login">#}
{#            <div class="col-7">#}
{#                <label for="login">Login</label>#}
{#            </div>#}
{#            <div class="col-5">#}
{#                <input type="login" name="login" id="login" pattern="^[a-z0-9_-]{3,16}$" placeholder="Dr.Pepper">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row email">#}
{#            <div class="col-7">#}
{#                <label for="email">Email</label>#}
{#            </div>#}
{#            <div class="col-5">#}
{#                <input type="email" name="email" id="email"#}
{#                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="dr.pepper@gmail.com">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row nickname">#}
{#            <div class="col-7">#}
{#                <label for="nickname">NickName</label>#}
{#            </div>#}
{#            <div class="col-5">#}
{#                <input type="nickname" name="nickname" id="nickname" pattern="^[a-z0-9_-]{3,16}$" placeholder="DrPepper">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row avatar-set">#}
{#            <div class="col-7">#}
{#                <label for="avatar-path">Upload avatar</label>#}
{#            </div>#}
{#            <div class="col-5 image-col">#}
{#                <div class="row image">#}
{#                    <img src="{% static "img/avatar.png" %}" class="uploaded-avatar">#}
{#                </div>#}
{#                <div class="row path">#}
{#                    <input type="path" name="avatar-path" id="avatar-path" placeholder="avatar.png">#}
{#                    <button type="button" class="upload-button">choose</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row submission">#}
{#            <input type="submit" value="Save">#}
{#        </div>#}
{#    </form>#}


{% block right_side %}
    {% include 'inc/popular_tags.html' %}
    {% include 'inc/best_members.html' %}
{% endblock right_side %}
