{% load static %}

<!doctype html>
<html lang="en" class="h-100">
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/css/my.css"/>
        <title>Askme-ermilov</title>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/my.css" %}" rel="stylesheet">
        <link href="{% static "css/signin.css" %}" rel="stylesheet">
        <link href="{% static "img/index_icon.png" %}" rel="shortcut icon" type="image/png">

    </head>

    <body class="d-flex flex-column h-100">

        {% include 'inc/navbar.html' %}

        <main role="main" class="flex-shrink-0">
            <div class="container main_container">
                <div class="row top-row">
                    {% block top_row %}
                    {% endblock top_row %}
                </div>
                <div class="row main_row">
                    <div class="col-9">
                        {% block content %}
                        {% endblock content %}
                    </div>
                    <div class="col-3 side_col">
                        {% block right_side %}
                        {% endblock right_side %}
                    </div>
                </div>
                {% block paginator %}
                {% endblock paginator %}
            </div>
        </main>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/csrf.js" %}"></script>

        {% block jscode %}
        {% endblock jscode %}
    </body>
</html>