<div class="row best_members">
    <h2>Best Members</h2>
    <ul class="members_list">
        <li><a href="Mr.Freeman" title="Mr.Freeman">Mr.Freeman</a></li>
        <li><a href="Dr.House" title="Dr.House">Dr.House</a></li>
        <li><a href="Bender" title="Bender">Bender</a></li>
        <li><a href="Queen_victoria" title="Queen Victoria">Queen Victoria</a></li>
        <li><a href="pupkin" title="V.Pupkin">V.Pupkin</a></li>
    </ul>
</div>