{% extends 'inc/question.html' %}
{% load static %}


{% block question_footer %}
    <div class="row question-footer">
        <div class="col-12 tags">Tags:
            {% for tag in question.tags.all %}
                <a href="{% url 'tag' tag_name=tag %}" class="tag">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock question_footer %}
