{% load static %}

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="height: 85px;">
        <a class="navbar-brand" href="{% url 'index' %}"><h2>AskErmilov</h2></a>
        <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline mt-2 mt-md-0 search-bar">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if request.user.is_authenticated %}
        <form action="/ask" class="orm-inline mt-2 mt-md-0 search-bar">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Ask!</button>
        </form>
        {% endif %}
        <div class="row user-corner">
                {% if request.user.is_authenticated %}
                    <div class="col-3 avatar-col">
                        <img src="{{ request.user.profile.avatar.url }}" class="user-avatar rounded" alt="index_icon">
                    </div>
                    <div class="col-9 user-col">
                {% else %}
                    <div class="col-12 user-col">
                {% endif %}
                {% if request.user.is_authenticated %}
                    <div class="row username"><h5>{{ request.user.profile.nickname }}</h5></div>
                    <div class="row">
                        {% include 'inc/user_corner.html' %}
                    </div>
                {% else %}
                    <div class="row new_user_row">
                        {% include 'inc/new_user_corner.html' %}
                    </div>
                {% endif %}
            </div>
        </div>

        </div>
    </nav>
</header>