{% load static %}

<div class="row main-answer-box">
    <a name="answer_{{ answer.id }}"></a>
    <div class="col-2">
        <div class="row image-box">
            <img class="question-img rounded" src="{{ answer.author.avatar.url }}" alt="avatar"/>
        </div>
        <div class="row nickname">{{ answer.author.nickname }}</div>
        <div class="row like-counter answer-lc">
            Rating:&nbsp<p id="answer_{{ answer.id }}">{{ answer.rating }}</p>
        </div>
        <div class="row rating-box answer_rb">
            <div class="col-6 like-form">
                    <input type="image"
                           src="{% static "img/like.jpg" %}"
                           alt="Like"
                           class="like-button js-vote"
                           data-action="like"
                           data-instance_id="{{ answer.id }}"
                           data-instance_type="answer">
            </div>
            <div class="col-6 like-form">
                    <input type="image"
                           src="{% static "img/dislike.jpg" %}"
                           alt="Dislike"
                           class="like-button js-vote"
                           data-action="dislike"
                           data-instance_id="{{ answer.id }}"
                           data-instance_type="answer">
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="row answer-text">
            {{ answer.text }}
        </div>
        <div class="row answer-footer">
            <div class="col-4 correct" id="correct_checkbox_{{ answer.id }}">
                    <input type="checkbox"
                           class="js-correct"
                           id="correct"
                           value="correct"
                           {% if answer.correct %} checked="checked" {% endif %}
                           {% if user.id != answer.question.author.user.id %} readonly disabled {% endif %}
                           data-aid="{{ answer.id }}"
                           data-qid="{{ answer.question.id }}">
                    <label for="correct">Answer is correct</label>
            </div>
            <div class="col-8 answered-time">{{ answer.creation_date.ctime }}</div>
        </div>
    </div>
</div>