{% extends 'inc/question.html' %}
{% load static %}


{% block question_footer %}
    <div class="row question-footer">
        <div class="col-3 answers-ref">
            <a href="{% url 'question' idk=question.id %}">answers ({{ question.answer_count }})</a>
        </div>
        <div class="col-9 tags">Tags:
            {% for tag in question.tags.all %}
                <a href="{% url 'tag' tag_name=tag.name %}" class="tag">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock question_footer %}
