<div class="row">
    <h2>Popular Tags</h2>
</div>
<div class="row">
    <ul class="tags_list">
        {% for tag in tags %}
                <li><a href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
</div>
