{% load static %}

<div class="row question-box">
    <div class="col-2">
        <div class="row image-box">
            <img class="question-img rounded" src="{{ question.author.avatar.url }}" alt="avatar"/>
        </div>
        <div class="row like-counter">
            Rating:&nbsp<p id="question_{{ question.id }}">{{ question.rating }}</p>
        </div>
        <div class="row rating-box">
            <div class="col-6 like-form">
                    <input type="image"
                           src="{% static "img/like.jpg" %}"
                           alt="Like"
                           class="like-button js-vote"
                           data-action="like"
                           data-instance_id="{{ question.id }}"
                           data-instance_type="question">
            </div>
            <div class="col-6 like-form">
                    <input type="image"
                           src="{% static "img/dislike.jpg" %}"
                           alt="Dislike"
                           class="like-button js-vote"
                           data-action="dislike"
                           data-instance_id="{{ question.id }}"
                           data-instance_type="question">
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col-9  question-title">
                <a href="{% url 'question' idk=question.id %}">{{ question.title }}</a>
            </div>
            <div class="col-3 credits">
                Asked by:&nbsp<span style="font-weight: bold">{{ question.author.nickname }}</span><br/>
                {{ question.creation_date.ctime }}
            </div>
        </div>
        <div class="row question-text">
            {{ question.text }}
        </div>
        {% block question_footer %}
        {% endblock question_footer %}
    </div>
</div>


